---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
--- 

$color_scheme: '{{ site.color_scheme }}';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Merriweather:wght@400;700&display=swap');
@import "custom";

.big-center {
  display: block !important;
  margin-left: 50% !important;
  transform: translateX(-50%) !important;
  width: 75vw !important;
  max-width: 1000px !important;
}
